/************Variables & Type**************/

$primary-color: #2b9bd6;
$primary-color-light: lighten($primary-color, 45%);
$body: #222222;

$smallish: 700px;

body {
  background: #fff;
  color: $body;
  font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%; 
}

@media all and (min-width: $smallish){
    body {font: 120%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;}
}

a {
  color: $primary-color;
  text-decoration: none;
  padding: .25em 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 

    &:hover, &:focus{
      color: $body; 
    }
}

p {margin: 0 0 1em;}

h1 {
  color: #333;
  padding: .5em 0;
  text-align: left;
  font-size: 1.75em;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: normal;
  margin-bottom: 1em;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
  margin: 0 0 0.5em; }

h3 {
  font-size: 1.25em;
  line-height: 1.1;
  margin: 1em 0 .53m;
}

.status {
  font-size: .75em;
  padding-top: 1.5em;

  span{
    font-weight: 700;
    border-bottom: 1px solid #ccc;
  }
  span.alert{color: red;}

  a{
    opacity: 1 !important; //this is a sloppy fix for my filter example page
  }

}

/************Layout**************/

.main-col {
  padding: 0 1em;
}

.sidebar {
  background: #eee;
  font-size: .8em;
}

@media all and (min-width: 700px){
  .main {
    padding: 0 0 0 2em;
  }
}

.main-col {
  padding-bottom: 1em;
  margin-top: 2em;
}

@media all and (min-width: 700px){

  .main-col {
    float: left;
    width: 65%;
    margin-right: 5%;
    max-width: 1000px;
  }

  .sidebar {
    float: right;
    width: 30%;
    border-left: 5px solid #dddddd;
    min-height: 3000px;
    position: fixed;
    right: 0;
    top: 0;
  }

}

/************Sidebar**************/

.content-box {
  border-bottom: 5px solid #dddddd;
  padding: 0 1em 1em;
  &:last-child{
    border-bottom: 0px;
  }
}

/************Timeline**************/
/* Timeline Container */
.timeline {
  border-left: 5px solid #dddddd;
  padding-bottom: 3em;
  position: relative; 
}

/* Individual Timeline Item */

.delivery {
  padding-left: 1em;
  margin-bottom: 3em;
  position: relative; 

  &:before { //these are the dots
    content: "";
    position: absolute;
    top: 7px;
    left: -13px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    border: 5px solid #dddddd; 
  }

}

.current-delivery {
  background-color: $primary-color-light;
  padding: 1em;

  .tl-stamp {
    background: $primary-color;
    color: white;
    margin-bottom: 1em;
    &:after {
       margin-top: 18px;
       border-color: transparent $primary-color;
    }
  }

  &:before {
    top: 25px;
    border: 5px solid $body; 
  }

  &:after{
    content:'Most Recent Delivery';
    background-color: lighten($primary-color, 40%);
    padding: 10px;
    color: $body;
    font-size: .75em;
    position: absolute;
    top: 0;
    right:0;
  }
}

/* Timestamp */
.tl-stamp {
  font-size: 0.75em;
  color: $body; 
  background: #efefef;
  padding: .5em 1em;
  display: inline-block;
  border-radius: 5px;

  &:after {
    content:"";
    position:absolute;
    border-style:solid;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
    top:10px; /* controls vertical position */
    left:7px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:7px 12px 7px 0;
    border-color:transparent #efefef;
  }
}

.tl-content{
  font-weight: 700;
  font-size: 1.2em;
  padding: .5em 0;
}

/************End Timeline**************/

// DELIVERY Categories & Filtering //

$pm:#813726;
$reqs:#d69846;
$content:#d6d143;
$ux:#92d655;
$visual-design:#4eb4d6;
$template:#ab50d6;
$style-guide:#d64f8b;

.key-color {
  padding: .25em .5em;
  margin-bottom: .5em;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;

  &:hover {border-left-width:30px;}
}

.tl-delivery-type{
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 10px;
  display:block;
}

.pm {
  @extend .tl-delivery-type;
  border-color: $pm;
}
.reqs {
  @extend .tl-delivery-type;
  border-color: $reqs;
}
.content {
  @extend .tl-delivery-type;
  border-color: $content;
}
.ux {
  @extend .tl-delivery-type;
  border-color: $ux;
}
.visual-design {
  @extend .tl-delivery-type;
  border-color: $visual-design;
}
.template {
  @extend .tl-delivery-type;
  border-color: $template;
}
.style-guide {
  @extend .tl-delivery-type;
  border-color: $style-guide;
}
.generic {
  @extend .tl-delivery-type;
  border-color: #666;
}


.filter-example {

  .delivery a {
    opacity: .25;
  }

  .filtered-item {
    opacity: 1 !important;
  }

  .key-color.filtered-item{
    border-left-width:30px;
    font-weight: bold;
    &:before{
      content:'✕';
      color: white;
      margin-left: -30px;
      padding-right: 15px;
    }
  }

}