/************Global**************/
$primary-color: #2b9bd6;
$primary-color-light: lighten($primary-color, 45%);

body {
  background: #fff;
  color: #222222;
  font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  -webkit-text-size-adjust: 100%; }

@media all and (min-width: 700px){
    body {
    font: 120%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  }
}

a {
  color: #2b9bd6;
  text-decoration: none;
  padding: .25em 0; 
}

a:hover, a:focus {
  color: #222222;
  text-decoration: underline; }

p {
  margin: 0 0 1em; }

img, object, video {
  max-width: 100%;
  border: 0; }

a img {
  border: 0;
  outline: 0; }

h1 {
  color: #333;
  padding: .5em 0;
  text-align: left;
  font-size: 1.75em;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: normal;
  margin-bottom: 1em;
}

h2 {
  text-transform: lowercase;
  font-size: 3em;
  line-height: 1.1;
  margin: 0 0 0.5em; }

h3 {
  font-size: 1.25em;
  line-height: 1.1;
  margin: 1em 0 .53m;
}

.status {
  font-size: .75em;
  padding-top: 1.5em;

  span{
    font-weight: 700;
    border-bottom: 1px solid #ccc;
  }
  span.alert{color: red;}
  span.cool{color: green;}

  a{
    display: inline;
    opacity: 1 !important;
  }

}

.main-col {
  padding: 0 1em;
}

#sidebar {
  background: #eee;
  font-size: .8em;
}

@media all and (min-width: 700px){
  .main {
    padding: 0 0 0 2em;
  }
}

.main-col {
  padding-bottom: 1em;
  margin-top: 2em;
}

@media all and (min-width: 700px){

  .main-col {
    float: left;
    width: 65%;
    margin-right: 5%;
    max-width: 1000px;
  }

  #sidebar {
    float: right;
    width: 30%;
    border-left: 5px solid #dddddd;
    min-height: 3000px;
    position: fixed;
    right: 0;
    top: 0;
  }

}

/************End Global**************/

/************quick links**************/

.key {
  p {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.content-box {
  border-bottom: 5px solid #dddddd;
  padding: 0 1em 1em;
  &:last-child{
    border-bottom: 0px;
  }
}

/************Timeline**************/
/* Timeline Container */
.timeline {
  border-left: 5px solid #dddddd;
  padding-bottom: 3em;
  position: relative; }

/* Individual Timeline Item */
.delivery {
  padding-left: 1em;
  margin-bottom: 3em;
  position: relative; }
  .delivery:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -13px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    border: 5px solid #dddddd; }

.current-delivery {
  background-color: $primary-color-light;
  padding: 1em;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -13px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    border: 5px solid #333333; 
  }

  &:after{
    content:'Most Recent Delivery';
    background-color: lighten($primary-color, 40%);
    padding: 10px;
    color: #333333;
    font-size: .65em;
    position: absolute;
    top: 0;
    right:0;
  }
}

/* Timestamp */
.tl-stamp {
  font-size: 0.7em;
  color: gray; 
  border-bottom: 1px solid #eeeeee;
}

.tl-content{
  font-weight: 700;
  font-size: 1.2em;
  padding: .5em 0;
}

/************End Timeline**************/

// DELIVERY TYPES //

$pm:#813726;
$reqs:#d69846;
$content:#d6d143;
$ux:#92d655;
$visual-design:#4eb4d6;
$template:#ab50d6;
$style-guide:#d64f8b;

.key-color {
  color: #333333;
  padding: .25em .5em;
  display: block;
  margin-bottom: .5em;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;

  &:hover {
    border-left-width:30px;
  }
}

.tl-delivery-type{
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 10px;
  display:block;
}

.pm {
  @extend .tl-delivery-type;
  border-color: $pm;
}
.reqs {
  @extend .tl-delivery-type;
  border-color: $reqs;
}
.content {
  @extend .tl-delivery-type;
  border-color: $content;
}
.ux {
  @extend .tl-delivery-type;
  border-color: $ux;
}
.visual-design {
  @extend .tl-delivery-type;
  border-color: $visual-design;
}
.template {
  @extend .tl-delivery-type;
  border-color: $template;
}
.style-guide {
  @extend .tl-delivery-type;
  border-color: $style-guide;
}
.generic {
  @extend .tl-delivery-type;
  border-color: #666;
}


.filter-example {

  .delivery a {
    opacity: .25;
  }

  .filtered-item {
    opacity: 1 !important;
  }

  .key-color.filtered-item{
    border-left-width:30px;
    font-weight: bold;
    &:before{
      content:'✕';
      color: white;
      margin-left: -30px;
      padding-right: 15px;
    }
  }

}