/************Reset**************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, fieldset, h1 {
  margin: 0;
  padding: 0;
  border: 0; }

ol {
  list-style: none;
  margin: 0;
  padding: 0; 
}

ul  {
  margin: 0;
  padding: 0 0 0 1em; 
}

header, footer, nav, section, article, hgroup, figure {
  display: block; }

/************End Reset**************/