/************Reset**************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, object, iframe, fieldset, h1 {
  margin: 0;
  padding: 0;
  border: 0; }

ol {
  list-style: none;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0 0 0 1em; }

header, footer, nav, section, article, hgroup, figure {
  display: block; }

img, object, video {
  max-width: 100%;
  border: 0; }

a img {
  border: 0;
  outline: 0; }

/************End Reset**************/
/************Variables & Type**************/
body {
  background: #fff;
  color: #222222;
  font: 100%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  -webkit-text-size-adjust: 100%; }

@media all and (min-width: 700px) {
  body {
    font: 120%/1.4 "HelveticaNeue", "Helvetica", "Arial", sans-serif; } }
a {
  color: #2b9bd6;
  text-decoration: none;
  padding: .25em 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
  a:hover, a:focus {
    color: #222222; }

p {
  margin: 0 0 1em; }

h1 {
  color: #333;
  padding: .5em 0;
  text-align: left;
  font-size: 1.75em;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: normal;
  margin-bottom: 1em; }

h2 {
  font-size: 3em;
  line-height: 1.1;
  margin: 0 0 0.5em; }

h3 {
  font-size: 1.25em;
  line-height: 1.1;
  margin: 1em 0 .53m; }

.status {
  font-size: .75em;
  padding-top: 1.5em; }
  .status span {
    font-weight: 700;
    border-bottom: 1px solid #ccc; }
  .status span.alert {
    color: red; }
  .status a {
    opacity: 1 !important; }

/************Layout**************/
.main-col {
  padding: 0 1em; }

.sidebar {
  background: #eee;
  font-size: .8em; }

@media all and (min-width: 700px) {
  .main {
    padding: 0 0 0 2em; } }
.main-col {
  padding-bottom: 1em;
  margin-top: 2em; }

@media all and (min-width: 700px) {
  .main-col {
    float: left;
    width: 65%;
    margin-right: 5%;
    max-width: 1000px; }

  .sidebar {
    float: right;
    width: 30%;
    border-left: 5px solid #dddddd;
    min-height: 3000px;
    position: fixed;
    right: 0;
    top: 0; } }
/************Sidebar**************/
.content-box {
  border-bottom: 5px solid #dddddd;
  padding: 0 1em 1em; }
  .content-box:last-child {
    border-bottom: 0px; }

/************Timeline**************/
/* Timeline Container */
.timeline {
  border-left: 5px solid #dddddd;
  padding-bottom: 3em;
  position: relative; }

/* Individual Timeline Item */
.delivery {
  padding-left: 1em;
  margin-bottom: 3em;
  position: relative; }
  .delivery:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -13px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #fff;
    border: 5px solid #dddddd; }

.current-delivery {
  background-color: #ebf6fb;
  padding: 1em; }
  .current-delivery .tl-stamp {
    background: #2b9bd6;
    color: white;
    margin-bottom: 1em; }
    .current-delivery .tl-stamp:after {
      margin-top: 18px;
      border-color: transparent #2b9bd6; }
  .current-delivery:before {
    top: 25px;
    border: 5px solid #222222; }
  .current-delivery:after {
    content: 'Most Recent Delivery';
    background-color: #d6ecf7;
    padding: 10px;
    color: #222222;
    font-size: .75em;
    position: absolute;
    top: 0;
    right: 0; }

/* Timestamp */
.tl-stamp {
  font-size: 0.75em;
  color: #222222;
  background: #efefef;
  padding: .5em 1em;
  display: inline-block;
  border-radius: 5px; }
  .tl-stamp:after {
    content: "";
    position: absolute;
    border-style: solid;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
    top: 10px;
    /* controls vertical position */
    left: 7px;
    /* value = - border-left-width - border-right-width */
    bottom: auto;
    border-width: 7px 12px 7px 0;
    border-color: transparent #efefef; }

.tl-content {
  font-weight: 700;
  font-size: 1.2em;
  padding: .5em 0; }

/************End Timeline**************/
.key-color {
  padding: .25em .5em;
  margin-bottom: .5em;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out; }
  .key-color:hover {
    border-left-width: 30px; }

.tl-delivery-type, .pm, .reqs, .content, .ux, .visual-design, .template, .style-guide, .generic {
  border-left-width: 5px;
  border-left-style: solid;
  padding-left: 10px;
  display: block; }

.pm {
  border-color: #813726; }

.reqs {
  border-color: #d69846; }

.content {
  border-color: #d6d143; }

.ux {
  border-color: #92d655; }

.visual-design {
  border-color: #4eb4d6; }

.template {
  border-color: #ab50d6; }

.style-guide {
  border-color: #d64f8b; }

.generic {
  border-color: #666; }

.filter-example .delivery a {
  opacity: .25; }
.filter-example .filtered-item {
  opacity: 1 !important; }
.filter-example .key-color.filtered-item {
  border-left-width: 30px;
  font-weight: bold; }
  .filter-example .key-color.filtered-item:before {
    content: '✕';
    color: white;
    margin-left: -30px;
    padding-right: 15px; }
